<!DOCTYPE html>
<html lang="en">
    
<head>
        <title>Squid v0.1</title><meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="css/matrix-login.css" />
        <link rel="stylesheet" href="css/custom/login.css" />
        <link rel="stylesheet" href="css/custom/register.css" />
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
      
        <script src="js/common/jquery.min.js"></script>  
        <script src="js/register.js"></script>
        <script src="js/common/angular.min.js"></script>
        <script src="js/angularlogin.js"></script> 

    </head>
    <body ng-app="MyApp">
        <div id="loginbox">            
            <form id="loginform" class="form-vertical" action="index.html" name="loginForm" ng-submit="loginForm.$valid" novalidate>
				 <div class="control-group normal_text"> <h3>    <img src="img/squid-logo2.png">
                 </h3></div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"> </i></span><input  ng-model="loginForm.name" type="email" name="username" placeholder="Username" required/>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input  type="password" name="password" placeholder="Password" required/>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info to-recover" id="to-recover">Lost password?</a></span>
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info to-register" id="to-register">Register</a></span>
                    <span class="pull-right"><input type="submit" ng-class="{{active:loginForm.$valid}}" value="Login" class=" btn-success" ></span>
                </div>
            </form>
            <form id="recoverform" action="#" class="form-vertical" name="recoverForm" ng-submit="recoverForm.$valid" novalidate>
				<p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>
				
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input ng-model="recoverForm.id" type="email" name="email" placeholder="E-mail address" required />
                        </div>
                    </div>
               
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success to-login">&laquo; Back to login</a></span>
                    <span class="pull-right"><input type="submit" value="Recover" class="btn btn-info"/></span>
                </div>
            </form>
            <form id="registerform" action="index.html" class="form-vertical" name="registerForm" ng-submit="registerForm.$valid" novalidate>
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input ng-model="registerForm.fname" type="text" name="firstName" placeholder="First Name" required/>
                        </div>
                    </div>

                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input ng-model="registerForm.lname" type="text" name="lastName" placeholder="Last Name" required/>
                        </div>
                    </div> 
                    
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input ng-model="registerForm.id" type="email" name="email" placeholder="E-mail address" required/>
                        </div>
                    </div>

                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input ng-model="registerForm.pass" name="password" type="password" placeholder="Password" required/>
                        </div>
                    </div>

                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input ng-model="registerForm.passcon" type="text" name="confirm" placeholder="Confirm Password" required/>
                        </div>
                    </div>

                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success to-login" id="to-login">&laquo; Back to login</a></span>
                    <span class="pull-right"><input type="submit" value="Create Account" class="btn btn-info"/></span>
                </div>
            </form>
        </div>

        <script>
            function validateform(){
                var username = document.loginform.username.value;
                var pass = document.loginform.password.value;
                
                if(username == null || username == '')
                {
                    alert('names cannot be blank');
                    return false;
                }
                
            }
        </script>
  
    </body>
</html>