#trending-mainBox .widget-content .row-fluid [class*="span"] {
    margin-left: 15px !important;
}

#trending-mainBox .widget-content .row-fluid [class*="span"] {
    margin-left: 15px !important;
}

#home-tabBox > div.widget-content.tab-content > .active [class*="span"]  {
    margin-left: 15px !important;
    
}