#home-tabBox {
    margin-top:0px;
}

#home-tabBox > div.widget-content.tab-content {
    padding:0px
    
}

body {
    font-size: 1.1rem;
}
#user-nav > ul > li > a, #search > input[type="text"] {
    font-size: 1.1rem;
}